<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
</head>
<body>
    <div id="app">
        <h1>My first app in vue</h1>
        <p>Let's gooo</p>
        <h3>Le message sera {{ message }}</h3>
        <ul>
            <li v-if="appleCoast > 0">Prix unitaire de la pomme: {{ appleCoast }} Euros</li>
            <li v-if="appleCount > 0">Nombre de pommes: {{ appleCount }}</li>
        </ul>
        <p>Prix total des pommes: {{ appleTotalCost }}</p>
        <hr width="50%">
        <ul>
            <li v-if="bananaCoast > 0">Prix unitaire des bananes: {{ bananaCoast }} Euros</li>
            <li v-if="bananaCount > 0">Nombre de bananes: {{ bananaCount }}</li>
        </ul>
        
        <p>
            Prix total des bananes: {{ bananaTotalCost }}
        </p>
        <hr>
        <p>Prix total: {{ totalCost }}</p>
        <br>
        <h2>Mon panier</h2>
        <ul>
            <li v-for="item in shopingCart">
                <p>{{ item.label }}: {{ item.price }} Euros</p>
                <p>Quantité: {{ item.quantity }}</p>
                <a :href="item.url">Lien vers le site</a>
            </li>
        </ul>
        <p>Total: {{ totalPrice }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>console.log( Vue )</script>
    <script>
        const app = new Vue( {
            el: '#app',
            data: {
                message: 'Hello Vue!',
                appleCoast: 3,
                bananaCoast: 2,
                appleCount: 20,
                bananaCount: 15,
                shopingCart: [{
                    label: "Apple",
                    price: 5,
                    quantity: 10,
                    url: "/apple.com"
                },
                {
                    label: "Banana",
                    price: 2,
                    quantity: 20,
                    url: "/banana.com"
                }
            ],

            },
            computed: {
                bananaTotalCost: function ()
                {
                    return this.bananaCoast * this.bananaCount;
                },
                appleTotalCost: function ()
                {
                    return this.appleCoast * this.appleCount;
                },
                totalCost: function ()
                {
                    return this.bananaTotalCost + this.appleTotalCost;
                },
                totalPrice: function (){
                    let total = 0;
                    this.shopingCart.forEach(item => {
                        total += item.price * item.quantity;
                    })
                    return total;
                }
            }
        } );
    </script>
</body>
</html>